<ion-header>
    <ion-toolbar>
      <ion-item>
        <ion-title align="center" style="font-weight: bold; color:rgb(24, 0, 163);">   Transactions  </ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list >
          <ion-card *ngFor="let transaction of TransactionsList" (click)= "transactionDetailClick(transaction)">
            <ion-item>
                <ion-icon name="person"></ion-icon>
                <ion-label color="primary" floating>Recipient:</ion-label>
              <ion-text> {{transaction.receiverName}}</ion-text> 
            </ion-item>
            <ion-item>
                <ion-icon name="keypad"></ion-icon>
                <ion-label color="primary" floating>Category:</ion-label>
              <ion-text >{{transaction.transactionCategory}}</ion-text>
            </ion-item>
            
            <ion-item *ngIf="transaction.senderId == profile.userId">
                <ion-icon color="danger" name="logo-usd"></ion-icon>
                <ion-label  floating>Amount:</ion-label>
              <ion-text><ion-text color="danger" class= "negativeTransaction"> - {{transaction.amount}}</ion-text> </ion-text>
            </ion-item>
            <ion-item *ngIf="transaction.recieverId == profile.userId" >
                <ion-icon color="success" name="logo-usd"></ion-icon>
                <ion-label  floating>Amount:</ion-label>
                <ion-text> <ion-text color="success" class = "positiveTransaction"> + {{transaction.amount}}</ion-text></ion-text>
              </ion-item>
          </ion-card>
         
      </ion-list>
<ion-card>
      <ion-button ion-button expand="block" (click)="returnToProfileButtonOnclick()">Return to Profile</ion-button> 
      <ion-button ion-button expand="block" (click)="gotoNewTransaction()">Create New Transaction</ion-button> 

</ion-card>
    </ion-content>